.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 1920px;
  height: 100vh;
  transform: scale(0.6);

  .header {
    font-size: 82px;
    color: #ff0000;
    margin-top: 107px;
    margin-left: 4px;
  }

  .line {
    margin-top: 10px;
    margin-bottom: 76px;
  }

  .main {
    display: flex;
    justify-content: space-between;
    width: 1348px;
    font-size: 64px;
    line-height: 108px;

    section:nth-child(1) {
      p {
        margin: 0;
      }

      div:nth-child(2),
      div:nth-child(4) {
        display: flex;
      }

      div:nth-child(2) {
        p:nth-child(1) {
          word-spacing: 16px;
        }
      }

      div:nth-child(4) {
        p:nth-child(1) {
          letter-spacing: 1px;
        }
      }
    }

    section:nth-child(2) {
      margin-right: 76px;
      text-align: right;
    }
  }

  .start {
    position: relative;
    margin: 71px 0px 0px -24px;
    cursor: pointer;

    p {
      position: absolute;
      top: 18px;
      left: 155px;
      font-size: 64px;
    }
  }
}
